html, body {
  color: #333;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

main {
  overflow-x: hidden;
}

del {
  background: #ffcccb55;
}

ins {
  background: #90EE9055;
  text-decoration: none;
}

h1 {
  font-size: 96px;
  font-weight: 300;
  letter-spacing: -1.5px;
  margin: 0px;
}

h2 {
  font-size: 60px;
  letter-spacing: -0.5px;
  font-weight: 300;
  margin: 0px;
  margin-left: 4px;
}

h3 {
  font-size: 48px;
  letter-spacing: 0px;
  font-weight: 400;
  margin: 0px;
  margin-left: 5px;
}

h4 {
  font-size: 34px;
  letter-spacing: 0.25px;
  font-weight: 400;
  margin: 0px;
  margin-left: 6px;
}

h5 {
  font-size: 24px;
  letter-spacing: 0px;
  font-weight: 400;
  margin: 0px;
  margin-left: 7px;
}

h6 {
  font-size: 20px;
  letter-spacing: 0.15px;
  font-weight: 500;
  margin: 0px;
  margin-left: 8px;
}

p {
  letter-spacing: 0.5px;
  font-weight: 400;
  margin: 0px;
  margin-left: 8px;
}

small {
  font-size: .8em;
  letter-spacing: .06em;
  font-weight: 400;
  margin: 0px;
}

abbr {
  border-bottom: dotted 1px #6A5426;
  text-decoration: none;
}

button {
  font-family: roboto;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.75px;
  font-weight: 500;
  margin: 0px;
  margin-left: 8px;
  text-transform: uppercase;
  display: block;
  background: #4285f4;
  border-radius: 6px;
  color: #fefefe;
  border: solid #4285f4 4px;
  padding: 8px 32px;
  cursor: pointer;
  min-width: 88px;
  transition: all .5s;
  line-height: 15px;
}

button:hover {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

button:focus {
  box-shadow: 0 0 0 0.2em #b3cefb;
}

button:active, button.loading {
  background-color: #b3cefb;
  border-color: #b3cefb;
  box-shadow: none;
  transition: background-color .2s;
}

input {
  font-size: 1.2em;
  padding: 10px;
  height: 20px;
  line-height: 20px;
  outline: none;
  transition: all .5s;
  border: solid #bbb 1px;
  border-radius: 6px;
}

input:hover, img.shadowed {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus {
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

blockquote {
  border-left: solid 4px rgba(0, 0, 0, 0.2);
  margin-left: 14px;
  padding-left: 22px;
  font-size: 1.5em;
  color: #555;
}

section {
  margin-left: auto;
  margin-right: auto;
  border-left: solid 4px rgba(0, 0, 0, 0.04);
  border-right: solid 4px rgba(0, 0, 0, 0.04);
  padding: 40px;
}

header code {
  font-size: 3.5em;
  line-height: 1.333em;
  margin-bottom: -10px;
  display: block;
  color: #222;
}

.blocks2 {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.blocks2 .block2 {
  margin: 0 auto;
  padding: 20px;
  min-width: 300px;
  min-height: 300px;
  font-family: "Libre Franklin", sans-serif;
  min-width: 208px;
  max-width: 64%;
}

.links-icons a img {
  height: 32px !important;
  display: inline !important;
  margin: 16px !important;
}

.links-contents a {
  color: #6A5426;
  font-family: "Libre Franklin", sans-serif;
  text-decoration: none;
  border-bottom: solid 4px #6A542688;
  display: block;
  font-size: 1.3em;
  margin: 20px 0px;
  padding-bottom: 2px;
}

.links-contents a:hover {
  border-bottom: solid 4px #6A5426;
  text-decoration: none;
}

.links-contents a.sublink {
  margin-left: 20px;
}

/* Header */
header {
  position: absolute;
  display: flex;
  top: 0;
  z-index: 2;
  line-height: 60px;
  width: 100%;
  transition: all 1s;
  color: #192A16;
  font-weight: 600;
  font-family: "Libre Franklin", sans-serif;
}

header nav {
  flex: 1;
}

header nav.user {
  text-align: right;
  margin-right: 10px;
}

header.has-scrolled {
  position: fixed;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.08);
  background: #fcfcfcee;
  color: #444;
}

.link a {
  display: block;
  color: inherit;
  padding: 0em 1em;
  text-decoration: none;
}

.link a:hover {
  color: #192A16;
  background: #fff;
}

nav {
  display: flex;
}

.bar {
  display: flex;
  margin-top: 16px;
  margin-left: 16px;
  width: 32px;
  flex: 1;
}

.bar img {
  border-radius: 100%;
  height: 30px;
  display: block;
}

.bar .title {
  font-family: BioRhyme, serif;
  font-size: 2em;
  letter-spacing: -2.2px;
  display: block;
  margin-top: -14px;
  padding-bottom: 0px;
  color: #192A16;
  margin-left: 6px;
  font-weight: 600;
  padding: 0 !important;
  text-decoration: none;
}

@media screen and (min-width: 769px) {

  nav ul, nav ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: row;
  }

  nav li {
    min-width: 128px;
    max-width: 264px;
  }

  nav > ul > li {
    display: inline-block;
  }

  nav button {
    display: none;
  }

  .link {
    position: relative;
  }

  .link:focus .sublinks,
  .link:focus-within .sublinks,
  .link:hover .sublinks {
    display: block;
    transform: translateY(0%);
    transition-delay: .2s, 0s, .3s;
  }
  .sublinks {
    position: absolute;
    display: none;
    top: 100%;
    left: 0px;
    width: 100%;
    background: #f9f9f9;
    box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.08);
    transform: translateY(-2em);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    /*transition: all 0.3s;*/
    z-index: -1000 !important;
  }
}

@media screen and (max-width: 768px) {

  nav button {
    display: block;
    margin-top: 12px;
    position: absolute;
    right: 16px;
  }

  nav ul {
    display: block;
    height: 100%;
    font-size: 2em;
    position: static;
    height: 320px;
    background: #fff !important;
    width: 100%;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.08);
  }

  nav > ul > li {
    display: block;
  }

  #menu {
    display: none;
    margin-left: -100%;
    margin-top: 60px;
    padding-top: 20px;
  }

  .sublinks {
    display: none;
  }

}

/* Top */
#top {
  height: 100%;
  z-index: 999;
}

#top .hero,
#top .hero-bg,
#top .hero-photo {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

#top .hero {
  margin-top: 128px;
  position: relative;
}

#top h2 {
  font-size: 2em;
  font-weight: 500;
  font-family: "Libre Franklin", sans-serif;
  padding-bottom: 48px;
  color: #192A16;
  margin-left: 100px;
  padding-top: 96px;
}

@media screen and (max-width: 768px) {

  #top h2 {
    padding-left: 20px;
    margin-left: 0px;
  }

}

#top h2 b {
  font-size: 2.2em;
}

#top h2 span {
  font-size: 2em;
}

/*.img-container {
  width: auto;
  text-align: center;
}

.img-container img {
  height: 400px;
  width: 400px;
  border-radius: 15.625%;
}*/

.hero-bg {
  background: #E8F1E4;
  opacity: .7;
  z-index: -1;
}

.hero-photo {
  background: url(img/bg/2018-10-20.jpg);
  background-position: bottom;
  background-size: cover;
  z-index: -2;
}

/* Money */
#money {
  background: linear-gradient(90deg, #fff 19px, transparent 1%) center, linear-gradient(#fff 19px, transparent 1%) center, #e9eee8;
  background-size: 23px 23px;
  margin-top: 30px;
  padding-top: 110px;
  clip-path: polygon(0 4%, 100% 0%, 100% 100%, 0 100%);
}

#money .heading-1 {
  font-family: BioRhyme, serif;
  font-size: 3em;
  font-weight: 600;
  line-height: 1.15em;
  margin: 32px auto;
  text-align: center;
}

#money .heading-2 {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.8em;
  margin: 32px auto;
  text-align: center;
  width: 70%;
}

#money .img-container {
  width: 100%;
  text-align: center;
}

#money .img-container img {
  height: 400px;
  width: 400px;
  border-radius: 15.625%;
}

#money .money-container {
  display: flex;
  padding-top: 128px;
  padding-bottom: 128px;
}

#money a.secret {
  text-decoration: none;
}

#money .about {
  border-left: solid #77AE6666 32px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  background: #77AE6666;
  align-items: center;
}

#money .about span {
  display: block;
  font-size: 48px;
  margin-left: 32px;
  font-family: "Libre Franklin", sans-serif;
  padding: 32px;
}

#money .about span a {
  color: #192A16;
}

/* Wide */
@media screen and (min-width: 768px) {

  #money .about img {
    padding-left: 32px;
    max-height: 200px;
  }

}

/* Mobile */
@media screen and (max-width: 768px) {

  #money .about img {
    padding: 32px;
    height: 200px;
  }

}

/*@media screen and (max-width: 768px) {

  .about {
    border-left: none;
  }

  .about img {
    padding: 0px;
    max-height: 400px;
    max-width: 400px;
    background: blue;
  }

}*/

/*#money .color {
  height: 100px;
  width: 100px;
}*/

.money {
  flex: 1;
  background: #FFFFFF77;
  border: solid #77AE66 4px;
  border-radius: 0px;
  color: #192A16;
  max-height: 432px;
  width: 33%;
  max-width: 384px;
  max-width: 20em;
  font-size: 1.2em;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  font-family: Chivo, sans-serif;
}

.money h3 {
  font-size: 1.4em;
  width: 128px;
  margin-left: 112px;
  margin-left: 96px;
  padding-right: 64px;
}

.money h3 small {
  font-size: .7em;
  margin-left: 10px;
  color: #6A5426;
}

.money h3 big {
  border-radius: 6px;
  padding: 0px 10px;
}

.money dl {
  margin-top: 16px;
}

.money dt {
  margin-top: 0px;
  margin-bottom: 20px;
}

.money dd {
  display: block;
  margin-left: 38px;
  margin-top: -44px;
  margin-bottom: 4px;
}

.money dd b {
  margin-right: 10px;
}

.money dd b:after {
  content: ":";
}

.money ol {
  margin-top: -8px;
}

.money li {
  margin-left: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.money hr {
  background: #192A16;
  height: 16px;
  border: none;
  margin-top: 32px;
  margin-bottom: 2px;
  position: relative;
}

.money a {
  color: #6A5426;
}

.money:before {
  position: absolute;
  color: #192A16;
  opacity: .7;
  font-family: Codystar;
  font-weight: 800;
  font-size: 3.4em;
  margin-left: 6px;
}

#money-1:before {
  content: "#1";
}

#money-2:before {
  content: "#2";
}

#money-3:before {
  content: "#3";
}

@media (max-width: 768px) {

  .money-container {
    flex-direction: column;
  }

  .money {
    width: 100%;
    flex-direction: column;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
  }

  .img-container img {
    max-width: 256px;
    max-height: 256px;
  }

  .about {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .about img {
    max-width: none;
    max-height: none;
  }

}

/* Protocol */
#protocol {
  padding: 128px 10%;
  margin: 0px auto;
  background: #fff;
  z-index: 1;
  position: relative;
  font-family: "Libre Franklin", sans-serif;
}

#protocol h2 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 3em;
  font-family: BioRhyme, serif;
  margin-bottom: 40px;
}

#protocol .sublabel {
  font-size: 1.5em;
  margin-bottom: 60px;
  text-align: center;
}

#protocol .sublabel a {
  color: #000;
}

#protocol .sideways {
  transform: rotate(98deg);
  height: 400px;
  display: block;
  margin: -80px auto;
  margin-top: -150px;
}

#protocol .step {
  width: 80%;
  position: relative;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-top: 100px;
}

#protocol .number {
  font-size: 4.5em;
  font-weight: 800;
  margin: 0 auto;
  background: #fff;
  width: 120px;
  height: 120px;
  font-family: sans-serif;
  font-family: BioRhyme;
}

#protocol .number::after {
  content: "";
  position: absolute;
  top: 154px;
  left: 0;
  background: #000;
  width: 100%;
  height: 2px;
  z-index: -1;
}

#protocol .title {
  font-size: 2em;
  margin-bottom: 8px;
  font-weight: 500;
  font-family: BioRhyme, serif;
}

#protocol .description {
  margin: 64px auto;
  font-size: 1.75em;
}

#protocol .description img {
  height: 200px;
}

#protocol .description a {
  color: #000;
}

#protocol .caption {
  color: #aaa;
  size: .8em;
  margin-bottom: 32px;
  font-style: italic;
}

#protocol #narrow {
  display: none;
  line-height: 2em;
}

@media screen and (max-width: 768px) {

  #protocol #wide {
    display: none;
  }

  #protocol #narrow {
    display: block;
  }

}

#protocol .also {
  font-size: 1.75em;
  font-weight: 700;
  color: #bbb;
}

#protocol .also a {
  color: inherit;
}

#protocol .measure {
  width: 100px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#protocol .measure img {
  height: 200px;
}

#protocol .measure table {
  border-left: solid #fff 2px;
  background: #fff;
  color: #000;
  padding: 4px;
  display: block;
}

#protocol .measure table tr td {
  border-bottom: solid 2px #000;
  width: 24px;
  height: 24px;
  background: #fff;
}

#protocol .finally {
  font-size: 2em;
}

@media screen and (max-width: 768px) {
  #protocol .sideways {
    height: 208px;
    margin: -26px auto;
    margin-top: -64px;
  }
}

/* Congrats */
#congrats {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 500;
  display: block;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  background: #77AE66;
  font-size: 2em;
  background: -webkit-gradient(linear, left top, left bottom, from(#77AE66), to(#E8F1E4));
  background: linear-gradient(180deg, #77AE66, #E8F1E4);
  color: #fff;
}

#congrats .shape {
  border-left: solid 50vw #fff;
  border-right: solid 50vw #fff;
  border-bottom: 10vw solid transparent;
}

#congrats .verifiable {
  width: 64%;
  margin: 32px auto 0px auto;
}

#congrats big {
  font-weight: 600;
  font-family: BioRhyme, serif;
  font-size: 1.5em;
}

/* Tagging */
#tagging {
  padding: 64px 10%;
  padding-top: 128px;
  margin: 0 auto;
  background: #E8F1E4;
  z-index: 1;
  position: relative;
  font-family: "Libre Franklin", sans-serif;
}

#tagging h2 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 3em;
  font-family: BioRhyme, serif;
  color: #6A5426;
}

#tagging p,
#tagging ol {
  font-size: 1.3em;
}

#tagging p,
#tagging big {
  color: #6A5426;
}

#tagging p,
#tagging ol,
#tagging big {
  margin: 32px 0px;
}

#tagging a {
  color: #6A5426;
}

#tagging big {
  font-size: 1.8em;
  font-weight: 500;
  color: #6A5426;
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
}

#tagging .bg {
  background: #fff;
  display: block;
  border-radius: 16px;
  padding: 48px;
}

#tagging ol {
  background: inherit;
}

#tagging li {
  background: #ffffff55;
  /*color: #6A5426;*/
  color: #192A16;
  font-weight: 500;
  margin: .5em 0px;
  font-size: 1.5em;
  position: relative;
  counter-increment: list;
  list-style-type: none;
  font-family: "Libre Franklin", sans-serif;
  padding: 20px;
  border: solid #fff 4px;
}

#tagging li a {
  color: #192A16aa;
}

#tagging ol li:before {
  color: #6A5426;
  content: counter(list) ".";
  left: -36px;
  position: absolute;
}

#tagging .free {
  font-variant: small-caps;
}

/* Materials */
#materials {
  margin: 0 auto;
  background: #fff;
  z-index: 1;
  position: relative;
  color: #6A5426;
  border-top: dashed #6A5426 4px;
}

#materials h3 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 3em;
  font-family: BioRhyme, serif;
  color: #6A5426;
  margin: 64px 0;
}

#materials .block2 {
  flex: 1;
  margin: 0 auto;
  padding: 20px;
  width: 100px;
  margin-bottom: 40px;
  text-decoration: none;
  border: solid 2px #6A542688;
  border-radius: 8px;
  box-shadow: 0 4px 12px 4px rgba(0, 0, 0, 0.2);
  min-width: 208px;
  max-width: 25%;
}

#materials .block2 img {
  display: block;
  height: 100px;
  margin: auto;
  width: 100px;
}

#materials .block2 .label {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  margin: 1em 0;
  text-transform: uppercase;
  color: #6A5426;
  text-decoration: none;
}

#materials .block2 .description {
  text-align: center;
  margin: 1em 0;
  font-size: 1.25em;
  color: #6A5426;
}

#materials .size {
  display: none;
}

/* Examples */
#examples {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 64px;
  border-top: 4px solid #6A542688;
}

#examples h3 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 3em;
  font-family: BioRhyme, serif;
  color: #6A5426;
  margin: 64px 0;
}

#examples .block2 {
  width: 30%;
  max-width: 420px;
  flex: 1;
  max-height: 420px;
}

#examples .block2 img {
  display: block;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 786px) {
  #examples .block2 {
    flex-direction: column;
  }
}

/* Why? */
#why {
  background-size: cover;
  color: #fff;
  overflow: hidden;
  padding-top: 64px;
}

#why,
#why-bg,
#why-photo {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

#why {
  margin-top: 128px;
  position: relative;
}

#why-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(#111));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), #111);
  opacity: 1;
  z-index: -1;
}

#why-photo {
  background: url(img/bg/2018-07-22.jpg);
  background-size: cover;
  /*background-attachment: fixed;*/
  z-index: -2;
}

#why h2 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 3em;
  font-family: BioRhyme, serif;
  margin: 64px 0px;
  text-shadow: 2px 2px #111;
}

#why .block2 {
  margin: 0 auto;
  padding: 32px;
  max-width: 25%;
  margin-bottom: 40px;
  background: #fff;
  border: solid #192A16 4px;
  opacity: .87;
  font-family: "Libre Franklin", sans-serif;
  border-radius: 8px;
  border-radius: 32px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(#fff));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.6), #fff);
}

#why .block2 img {
  display: block;
  height: 100px;
  margin: 50px auto;
}

#why .block2 .label {
  font-size: 1.4em;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #192A16;
}

#why .block2 .description {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.5em;
  color: #192A16;
}

/* Technologies */
#tech {
  background: #111;
  color: #E8F1E4;
  padding: 64px 0;
  padding-top: 192px;
}

#tech h3 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 2.5em;
  font-family: BioRhyme, serif;
  color: #E8F1E4;
  margin-bottom: 64px;
}

#tech a {
  color: #E8F1E4;
  text-decoration: none;
}

#tech .block2 {
  margin: 0 auto;
  min-width: 300px;
  min-height: 300px;
  font-family: "Libre Franklin", sans-serif;
  min-width: 208px;
  max-width: 64%;
}

#tech .block2 img {
  display: block;
  height: 120px;
  margin: 0 auto;
}

#tech .block2 .label {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

#tech .block2 .description {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
}

/* Gallery */
#gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 128px 0;
  background: linear-gradient(180deg, white, #83AED5) !important;
}

#gallery h3 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 2em;
  font-family: "Libre Franklin", sans-serif;
  color: #6A5426;
  margin-bottom: 64px;
}

#gallery .block2 {
  width: 30%;
  max-width: 420px;
  min-height: 208px;
  flex: 1;
  max-height: 420px;
  min-width: 208px;
}

#gallery .block2 img {
    display: block;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 786px) {
  #gallery .block2 {
    flex-direction: column;
  }
}

/* Press */
/*#press {
  background: #83AED5;
  color: #fff;
  padding: 64px 0px;
  border-top: solid 2px #E8F1E4;
  background: url(img/print.jpg);
  background-size: cover;
  object-fit: cover;
}*/

#press {
  background-size: cover;
  color: #fff;
  overflow: hidden;
}

#press,
#press-bg,
#press-photo {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

#press {
  /*margin-top: 128px;*/
  position: relative;
  padding-top: 64px;
  padding-bottom: 264px;
}

#press-bg {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), #111);
  opacity: 1;
  z-index: -1;
}

#press-photo {
  /* https://commons.wikimedia.org/wiki/File:The_printing_trades_(1916)_(14765737815).jpg */
  background: url(img/print.jpg);
  background-size: cover;
  /*background-attachment: fixed;*/
  z-index: -2;
  filter: blur(4px);
}

#press h2 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 3em;
  font-family: BioRhyme, serif;
  margin: 64px 0px;
  text-shadow: 2px 2px #192A16;
}

#press .source {
  text-align: right;
}

#press img {
  border-radius: 100%;
  max-height: 64px;
  display: block;
  margin-left: auto;
}

#press .source {
  text-decoration: none;
  display: block;
}

#press .label {
  color: #192A16;
  font-size: 1.25em;
  font-weight: 600;
  text-decoration: none;
}

#press .group {
  color: #555;
  text-decoration: none;
  font-size: 1.15em;
  margin-bottom: 2px;
}

#press time {
  color: #6A5426aa;
  display: block;
}

#press .block2 {
  background: #ffffffee;
  min-width: 200px;
  max-width: 400px;
}

#press blockquote {
  font-size: 1em;
  border-color: #6A542688;
  color: #192A16;
  padding: 12px;
  background: #6A542611;
}

#press blockquote a {
  color: #6A5426;
}

/* Railmap */
#railmap {
  color: #fff;
  padding: 64px 0px;
  border-top: solid 2px #E8F1E4;
}

#railmap hr {
  border: dashed 2px tan;
  margin-top: 50px;
  margin-bottom: 50px;
}

#railmap .description {
  font-size: 1.5em;
}

#railmap h2 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 3em;
  font-family: BioRhyme, serif;
  margin: 64px 0px;
  text-shadow: 2px 2px #192A16;
}

#railmap h3 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 2em;
}

#railmap big {
  font-size: 2em;
  display: block;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff;
}

#railmap a {
  color: #fff;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
  background: #ffffff22;
  display: inline-block;
  margin: 4px;
}

#railmap {
  background-size: cover;
  color: #fff;
  overflow: hidden;
  padding-top: 64px;
}

#railmap,
#railmap-bg,
#railmap-photo {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}

#railmap {
  position: relative;
  padding-top: 128px;
  padding-bottom: 256px;
}

#railmap-bg {
  background: #000000cc;
  opacity: 1;
  z-index: -1;
}

#railmap-photo {
  /* https://commons.wikimedia.org/wiki/File:Portland,_Maine_-_Map_of_the_Horse_Rail_Lines_1876.jpg */
  background: url(img/railmap.jpg);
  background-size: cover;
  /*background-repeat: none;*/
  /*background-attachment: fixed;*/
  z-index: -2;
  /*background-position: 100px 400px;*/
  background-position: bottom;
}

/* Trade */
#trade {
  background: #192A16;
  color: #fff;
  border-top: solid 2px #E8F1E4;
  padding-top: 6em;
  padding-bottom: 12em;
  margin-bottom: 8em;
}

#trade h2 {
  width: 100%;
  text-align: center;
  font-weight: 600;
  font-size: 3em;
  font-family: BioRhyme, serif;
  margin: 64px 0px;
  text-shadow: 2px 2px #000;
}

#trade big {
  font-size: 2em;
  display: block;
  text-align: center;
}

#trade ins {
  padding: 1em;
  border-radius: 1em;
}

/* Footer */
footer .origin {
  padding: 20px 3px;
}

footer img {
  display: block;
  height: 200px;
  margin: 16px 0;
}

footer img.map {
  margin-left: 2px;
}

footer img.guilloche {
  height: 112px;
}
